<div class="container">
	<div class="jumbotron">
		The Mass Appraisal GIS provides an easy tool for doing statistical analysis on a set of comparable sales. A multiple regression formula is created to determine the most probable sales price of a subject property (or properties). <br>
		<br>
		Comparable data can be tabular or spatial.  Check with county governments to get parcel data in ESRI Shapefile format.  Spatial data has the advantage that additional fields can be added from the USDA soils database.
	</div>
<div class="row">	
	<a style='float: right' ng-show="username" ng-click="viewModels()" role="button" class="btn btn-primary"><i class="glyphicon glyphicon-stats"></i> View my appraisal models</a>
	
	<!--  
	<a ng-click="showDemo()"><i class='glyphicon glyphicon-film'></i> View the demo</a>
	-->
	<h4>Introduction video</h4>
	<div class="col-lg-8">
		<div class="form-group">
			<div class="videoUiWrapper thumbnail">
				<video width="100%" id="vdHotPress" controls>
					<!-- set width to 100% and add controls for play and volume buttons-->

					<source src="/media/screencast.mp4" type="video/mp4" />
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
	</div>


	
	<!-- 4:3 aspect ratio 1356x776-->
	<!--  
    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="/media/screencast.mp4" allowfullscreen></iframe>
    </div>
  </div>
  -->
	<!-- 
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/media/screencast.mp4"></iframe>
</div>
-->
</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Notes</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>You must have a Google account to create new appraisal models.</li>
				<li>The Mass Appraisal GIS was created by Steve Hale.</li>
			</ul>
		</div>
	</div>
</div>
<!-- /container -->


