<div class="container">
	<div class="jumbotron">
		The Mass Appraisal GIS provides an easy tool for doing statistical analysis on a set of comparable sales in order to create a multiple regression formula that can be used to determine the most probable sales price of a subject property (or properties).
		<br><br>
		To begin, click the green Create a new model button.  Enter a name and select the state of your comparable sales and subject property.  Models that you have previously created will appear on this page. 
	</div>
	<div ng-show="project.user">

		<div class='col-lg-2' style='float: right;width:500px' >
			<div id="startBtn" style='float:right'>
				<a class="btn btn-success btn-default" ng-click='showNewProject()'> Create new model <i class="glyphicon glyphicon-plus"></i></a></i></a>
			</div>
			<div id="newProjectDiv" ng-show="newProjectVisible" style='border:1px solid #e6e6e6;padding: 5px;'>
				<br><br>
				<form name="newprojfrm" id='newprojfrm' style='padding: 5px' ng-submit="createProject()">
					<table class='table'>
					<tr><td>Appraisal model name</td><td> 
					<input class='input' type='text' name='name' style='width:100%'/></td></tr>
					<!-- 
					<tr><td> Location </td>
					<td>
					<select name='state'>
					<option value='az'>Arizona</option>
					<option value='wa'>Washington</option>
					</select> </td></tr>
					 -->
					<tr><td> <input class='button' type='submit' value='Create' /></td></tr>
					</table>
				</form>
				<div class="alert alert-success" id="events-result" ng-show="errMsg">{{errMsg}}</div>
			</div>

		</div>

		<br> <br>
		<table class="table" id="projTable">
			<caption>
				<h4>My Appraisal Models</h4>
			</caption>
			<tr>
				<th>Name</th>
				<th>State</th>
				<th style="text-align: center;">Created</th>
				<th style="text-align: center;">Last modified</th>
				<th>&nbsp;</th>
			</tr>
			<tr ng-repeat="x in project.rows">
				<td>{{ x.name }}</td>
				<td>{{ x.state }}</td>
				<td style="text-align: center">{{ x.created_date }}</td>
				<td style="text-align: center">{{ x.modified_date }}</td>
				<td align='right'><a ng-click="viewProject(x.id)" role='button' class='btn btn-primary'><i class='glyphicon glyphicon-stats'></i> View</a>
				<a ng-click="deleteProject(x.id,this)" role='button' class='btn btn-danger delete'><i class='glyphicon glyphicon-trash'></i> Delete</a></td>
			</tr>
		</table>

	</div>

	<br> <br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Notes</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>You must have a Google account before using this tool.</li>
				<li>Contact the administrator to get access.</li>
				<li>Sample data is available for testing:</li>
				<li><a href='/data/demo data.zip'> Demo CSV File</a></li>
				<li><a href='/data/homesites.zip'>Demo ESRI Shapefile</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- /container -->


