<style>
div.col-lg-2 {
	padding-left: 0
}

td.col {
	font-weight: bold
}

a.flt-right {
	float: right
}

p.name {
	float: right
}

table.summaryTable {
	height: 60px
}

#statsTable {
	font-size: small;
}

#predictTable {
	display: none;
}
/*
.fixed-table-header{display:none !important}
.fixed-table-container{height:auto !important;}
*/
li.disabled {
	color: gray
}

.jumbotron {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

#addBtn {
	float: right
}

#summaryTable {
	display: none
}
</style>
<div class="container">


	<div class="jumbotron">

		<div class="row">
			<div class="col-md-4">
				<h4>Predict sales prices using regression coefficients.</h4>
				To show predictions for parcels data, click the Add data button to upload a CSV (Comma separated values) file. <br> <br> Note: the CSV file must have columns using the same names shown in the formula shown on the right above the statistics table. <br> <br> <input
					ng-model="useSW" ng-change="toggleRegression()" type='checkbox'> Use full regression (non-stepwise) results
			</div>
			<div class="col-md-8">
				<div style="width: 300px">
					<h4>Regression summary</h4>
					<div id="summary">
						<b>Formula: </b>{{predictions.vars.names[0]}} = {{predictions.vars.coef[0]['Estimate']}} <span ng-repeat="row in predictions.vars.coef track by $index" ng-if="$index>0"> {{$index}} + {{predictions.vars.names[$index]}} * {{row['Estimate']}}</span>
					</div>
					<br>
					<div style="width: 300px">
						<table class='table table-striped table-bordered'>
							<tr>
								<td>R Squared</td>
								<td style='text-align: right'>{{predictions.vars.rsquared}}</td>
							</tr>
							<tr>
								<td>Adjusted R Squared</td>
								<td style='text-align: right'>{{predictions.vars.adjrsquared}}</td>
							</tr>
							<tr>
								<td>Standard Error</td>
								<td style='text-align: right'>{{predictions.vars.stderr}}</td>
							</tr>
							<tr>
								<td>F statistic</td>
								<td style='text-align: right'>{{predictions.vars.fstats.value}}</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end jumbotron -->
	<div class='col-lg-2'>
		<a ng-click="viewResiduals()" class="btn btn-default btn-continue" id="previousBtn"><i class="glyphicon glyphicon-arrow-left"></i> Return to residuals </a>
	</div>
	<div class='col-lg-10'>
		<a ng-click="addSubject()" class="btn btn-default btn-continue flt-right"> Add subject property <i class="glyphicon glyphicon-arrow-right"></i></a>
	</div>
	
	<br><br>
	<div>
		<h4>Use the form below to calculate a single prediction.</h4>
		<div id='loader' ng-show="!predictions">
			<img src="/img/spinner_mac.gif"> Loading table..... Please wait
		</div>
		<form name="predfrm">
			<table class="table table-striped table-bordered">
				<thead>
					<th ng-repeat="col in predictions.vars.names track by $index" ng-if="$index>0")>{{col}}</th>
				</thead>
				<tbody>
					<td ng-repeat="col in predictions.vars.names track by $index" ng-if="$index>0" align='right'><input type='text'></td>
					</tr>
				</tbody>

			</table>

			<div ng-show="prediction" class="alert alert-success" id="events-result">{{prediction}}</div>
			<input class="btn btn-success" type='submit' value='Calculate' ng-click="calculatePrediction()">
		</form>
	</div>

	<!--
	<table data-cache="false" id="summaryTable1">
	</table>
-->
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Prediction Notes</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>Enter values for the variables that have been selected using stepwise regression</li>
				<li>Or upload an Excel, CSV or dbf file containing multiple rows of data containing the selected variables. Note: the variable names must be identical in order to match the model.</li>
			</ul>
		</div>
	</div>
</div>

