<style>
div.col-lg-2 {
	padding-left: 0
}

td.col {
	font-weight: bold
}

a.flt-right {
	float: right
}

p.name {
	float: right
}

table.summaryTable {
	height: 60px
}

#statsTable {
	font-size: small;
}

.jumbotron {
	padding-top: 18px !important;
	padding-bottom: 18px !important;
}

li.disabled {
	color: gray
}
</style>
<div class="container">
	<div class="jumbotron">
		<h4>Residuals output</h4>
		<table width='100%'>
			<tr>
				<td rowspan=2>
					<div id="summary"></div> <br>
					<div style="width: 300px">
						<h4>Regression summary</h4>
						<div id="summary">
							<b>Formula: </b>{{residuals.vars.names[0]}} = {{residuals.vars.coef[0]['Estimate']}} <span ng-repeat="row in residuals.vars.coef track by $index" ng-if="$index>0"> {{$index}} + {{residuals.vars.names[$index]}} * {{row['Estimate']}}</span>
						</div>
						<br>
						<div style="width: 300px">
							<table class='table table-striped table-bordered'>
								<tr>
									<td>R Squared</td>
									<td style='text-align: right'>{{residuals.vars.rsquared}}</td>
								</tr>
								<tr>
									<td>Adjusted R Squared</td>
									<td style='text-align: right'>{{residuals.vars.adjrsquared}}</td>
								</tr>
								<tr>
									<td>Standard Error</td>
									<td style='text-align: right'>{{residuals.vars.stderr}}</td>
								</tr>
								<tr>
									<td>F statistic</td>
									<td style='text-align: right'>{{residuals.vars.fstats.value}}</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
				<td valign='top'>

					<div id="browse_app">
						<p>Download the resulting table</p>
						<a class="btn btn-large btn-info" ng-click="downloadTable()"> <i class="glyphicon glyphicon-cloud-download"></i> Download
						</a>
					</div>
				</td>

			</tr>
			<tr>
				<td><input id='nosw' type='checkbox'> Use full regression (non-stepwise) results</td>
			</tr>
		</table>
	</div>

	<div class='col-lg-2'>
		<a ng-click="viewStepwiseRegression()" class="btn btn-default btn-continue"><i class="glyphicon glyphicon-arrow-left"></i> Return to stepwise regression </a>
	</div>

	<div class='col-lg-10'>
		<a ng-click="viewPredictions()" class="btn btn-default btn-continue flt-right"> Continue to predictions <i class="glyphicon glyphicon-arrow-right"></i></a>
	</div>

	<br> <br>
	<div id='loader' ng-show="!tabledata">
		<img src="/img/spinner_mac.gif"> Loading table..... Please wait
	</div>

	<table  class="table table-striped table-bordered">
		<thead>
			<th ng-repeat="(col,key) in tabledata[0] track by $index">{{col}}</th>
 			<tr ng-repeat="row in tabledata">
          	<td ng-repeat="col in row">{{col}}</td>
			</tr>
		</thead>
	</table>
    
<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-change="pageChanged()"></pagination>
    <!--
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination> 
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    <pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></pagination>
    <pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></pagination>
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    
 	-->

	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Residuals Notes</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>The <a target=_blank href="http://en.wikipedia.org/wiki/Errors_and_residuals_in_statistics">residual</a> of an observed value is the difference between the observed value and the estimated function value
				</li>

			</ul>
		</div>
	</div>
</div>

