<style>
a.flt-right {
	float: right
}

div.col-lg-2 {
	padding-left: 0
}

p.name {
	float: right
}

li.disabled {
	color: gray
}

#mapBtn {
	display: none
}

#summaryTable {
	display: none
}
</style>

<div class="container">
	<ol class="breadcrumb" style="float: left">
		<li><a ng-click="gotoUrl('',3)">Data</a></li>
		<li><a ng-click="gotoUrl('summary')">Summary</a></li>
		<li><a ng-click="gotoUrl('correlation')">Correlation</a></li>
		<li><a ng-click="gotoUrl('regression')">Regression</a></li>
		<li><a ng-click="gotoUrl('stepwise_regression')">Stepwise regression</a></li>
		<li><a ng-click="gotoUrl('residuals')">Residuals</a></li>
		<li><a ng-click="gotoUrl('predictions')">Predictions</a></li>
		<li>Subject property</li>
	</ol>
	<br>
	<br>

	<div class="jumbotron">
	<h4>Subject property</h4>
	Before uploading subject property data, please follow the checklist below:
	<ol>
	<li>Must contain the following fields: <p style='font-weight:bold'>{{subject.fields}}</p></li>
	<li ng-show="subject.info.geometrytype!='None'">Must be in ESRI Shapefile format</li>
	<li ng-show="subject.info.geometrytype=='None'">Must be in table format (Excel, Comma-separated values (CSV))</li>
	<li>Are you uploading a single subject property or multiple (ie. mass appraisal)</li>
	</ol>
	</div>

	<div class='col-lg-4 col-xs-4'>
		<a ng-click="viewPredictions()" class="btn btn-default btn-continue" id="previousBtn"><i class="glyphicon glyphicon-arrow-left"></i> Return to predictions</a>
	</div>

	<div class='col-lg-2 col-xs-2'>
		<div id="startBtn" style='float: right'>
			<a class="btn btn-success btn-default" ng-click="open('lg','subj')"> Add subject data 
			<i class="glyphicon glyphicon-plus"></i></a>		
		</div>

	</div>

	<div class='col-lg-4 col-xs-4 text-right'>
		<a ng-show="subjectuploaded" class="btn btn-default btn-continue flt-right" id="continueBtn" ng-click="viewSubjectReport()"> Continue to reports <i class="glyphicon glyphicon-arrow-right"></i></a>
	</div>

	<br>
	<br>
	<table class="table">
		<caption>
			<h4>Subject properties</h4>
		</caption>
		<tr>
			<th>Filename</th>
			<!--  <th>Comparable table</th> -->
			<th>Type</th>
			<th>Date loaded</th>
			<th>&nbsp;</th>
		</tr>

		<tr ng-repeat="x in subject.rows" ng-if="x.type==1">
			<td>{{x.name}}</td>
			<!-- <td>{{x.comp}}</td>-->
			<td>{{x.filetype}}</td>
			<td>{{x.date}}</td>
			<td align='right'>
			<a ng-click="viewSubject(x.id)" role="button" class="btn btn-primary"><i class="glyphicon glyphicon-stats"></i> View</a>
			<a ng-click="deleteTable(x.id)" role="button" class="btn btn-danger delete"><i class="glyphicon glyphicon-trash"></i> Delete</a>
			</td>
		</tr>
	</table>

	<br><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Subject Notes</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>The minimum, maximum, average and standard deviation is calculated for each of the default columns.</li>
				<li>Click the Download button to download a spreadsheet to complete the analysis in Excel.</li>
				<li>The spreadsheet contains the source data and the added soils information (slope, elevation, etc).</li>
				<li>Click Continue to do the analysis online.</li>
			</ul>
		</div>
	</div>
</div>
