<div class="container">
		  <ol class="breadcrumb" style="float:left">
			<li><a ng-click="gotoUrl('',3)">Data</a></li>	
			<li>Summary</li>
		  	<li><a ng-click="gotoUrl('correlation')">Correlation</a></li>
		  	<li><a ng-click="gotoUrl('regression')">Regression</a></li>
		  	<li><a ng-click="gotoUrl('stepwise_regression')">Stepwise regression</a></li>
		  	<li><a ng-click="gotoUrl('residuals')">Residuals</a></li>
		  	<li><a ng-click="gotoUrl('predictions')">Predictions</a></li>
		  	<li><a ng-click="gotoUrl('subject')">Subject property</a></li>
		</ol>
		<br><br>

		<div class="jumbotron">
		<div class="row">
			<div class="col-lg-8 col-xs-8">
				Before continuing, you need to specify which field is the dependent variable. Usually this will be the sales price. A new field "oid" is added that is guaranteed to be unique, but you may wish to specify a different field as your unique identifier. This unique identifier is used when printing
				out the residuals. <br> Check the boxes next to the numeric fields you wish to include in the regression analysis.
				
				<span ng-show="summary.geomtype=='Polygon'"><br><br>Note: rows colored in blue are fields extracted from the USDA soils data</span>
			</div>

			<div class="col-lg-4 col-xs-4">
			<h4>Download the summary table</h4>
				<div id="browse_app">
					<a id="dl_summary" class="btn btn-large btn-info" ng-click="downloadTable()"> <i class="glyphicon glyphicon-cloud-download"></i> Download
					</a>
					<a ng-show="summary.geomtype=='Polygon'" class="btn btn-large btn-info" target=_blank ng-click="showMap()"> <i class="glyphicon glyphicon-globe"></i> Show on map
					</a>
				</div>
			</div>


		</div>
		</div>

		<div class='col-lg-6 col-xs-6' >
			<a ng-click="viewProject()" class="btn btn-default btn-continue" id="previousBtn"><i class="glyphicon glyphicon-arrow-left"></i> Return to project</a>
		</div>

		<div class='col-lg-6 col-xs-6 text-right'>
			<a class="btn btn-default btn-continue flt-right" id="continueBtn" ng-click="viewCorrelation()"> Continue to correlation matrix <i class="glyphicon glyphicon-arrow-right"></i></a>
		</div>

		<br>
		<br>
		<div id='loader' ng-show="!summary">
			<img src="/img/spinner_mac.gif"> Loading table..... Please wait
		</div>
<!-- 		| number:4   -->
		
		<table ng-visible="summary" class='table table-striped table-bordered'>
			<thead>
				<tr>
					<th data-align="center" >Include</th>
					<th data-align="center">ID</th>
					<th data-align="center">Dependent<br> variable</th>
					<th data-align="center">Sale date</th>

					<th data-field="name">Name</th>
					<th data-field="min" data-align="right">Minimum</th>
					<th data-field="max" data-align="right">Maximum</th>
					<th data-field="sd" data-align="right">Standard<br>Deviation</th>
					<th data-field="median" data-align="right">Median</th>
					<th data-field="se" data-align="right">Standard<br>error</th>
					<th data-field="mean" data-align="right">Mean</th>
				</tr>

				<tr ng-repeat="x in summary.fields" ng-class="summary.status[x.name].soils?'info':''">
					<td><input ng-show="summary.status[x.name].include<2" type='checkbox' ng-change="selectField(x.name,include)" ng-model="include" ng-checked="summary.status[x.name].include" ng-disabled="summary.status[x.name].include==2" /></td>
					<td><input ng-show="summary.status[x.name].id<2" type='radio' name="idvar"  ng-change="selectId(x.name)" ng-value="summary.status[x.name].id" ng-model="id" ng-disabled="summary.status[x.name].id==2" /></td>
					<td><input ng-show="summary.status[x.name].depvar<2" type='radio' name="depvar" ng-change="selectDepVar(x.name)" ng-value="summary.status[x.name].depvar" ng-model="depvar" ng-disabled="summary.status[x.name].depvar==2||summary.status[x.name].include==3" /></td>
					<td><input ng-show="summary.status[x.name].saledate>0" type='radio' name="saledate" ng-change="selectSaleDate(x.name)" ng-value="summary.status[x.name].saledate" ng-model="saledate" /></td>

					<!-- ng-disabled="table.names[x.name][0]==3" -->
					<td style="text-align: left">{{ x.name }}</td>
					<td style="text-align: right">{{ x.min | numformat:summary.status[x.name].type}}</td>
					<td style="text-align: right">{{ x.max | numformat:summary.status[x.name].type}}</td>
					<td style="text-align: right">{{ x.sd | numformat:summary.status[x.name].type}}</td>
					<td style="text-align: right">{{ x.median | numformat:summary.status[x.name].type}}</td>
					<td style="text-align: right">{{ x.se | numformat:summary.status[x.name].type}}</td>
					<td style="text-align: right">{{ x.mean | numformat:summary.status[x.name].type}}</td>

				</tr>
			</thead>
		</table>

<!-- 
		<table data-height="399" data-cache="false" data-search="true" id="summaryTable">
			<thead>
				<tr>
					<th data-align="center" data-checkbox="true" data-field="include" data-formatter="stateFormatter" data-events="includeEvents" data-width="1">Include</th>
					<th data-align="center" data-field="id" data-formatter="idRadioFormatter" data-width="1">ID</th>
					<th data-align="center" data-field="depvar" data-formatter="depVarRadioFormatter" data-width="1">Dependent var</th>

					<th data-field="name">Name</th>
					<th data-field="min" data-align="right">Minimum</th>
					<th data-field="max" data-align="right">Maximum</th>
					<th data-field="sd" data-align="right">Standard Deviation</th>
					<th data-field="median" data-align="right">Median</th>
					<th data-field="se" data-align="right">Standard error</th>
					<th data-field="mean" data-align="right">Mean</th>
				</tr>
			</thead>
		</table>
 -->
 <div class="col-lg-12 col-xs-12 text-right">Comparable: {{tableName}}</div>
		<br>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Summary Notes</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>The minimum, maximum, average and standard deviation is calculated for each of the default columns.</li>
					<li>Click the Download button to download a spreadsheet to complete the analysis in Excel.</li>
					<li>The spreadsheet contains the source data and the added soils information (slope, elevation, etc).</li>
					<li>Click Continue to do the analysis online.</li>
				</ul>
			</div>
		</div>
	</div>

